<!DOCTYPE HTML>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns:HH="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <!-- Bootstrap -->
    <link th:href="@{/css/signin.css}" rel="stylesheet">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/me.css}" rel="stylesheet">
    <title>第一个thymeleaf程序</title>
</head>
<body>
    <div class="headBar" th:include="header_com ::pagination"></div>
    <br/><br/><br/>
    <div class="row">
        <div class="col-sm-4 col-md-4">
            <div class="thumbnail">
                <img th:src="@{/img/1.jpg}" alt="..." style="width:300px;height:300px;">
                <div class="caption">
                    <h3 th:text="'活动商品   '+${seckill.objName}">Thumbnail label</h3>
                    <p th:text="'库存   '+${seckill.number}"></p>
                    <div class="getting-started"></div>
                    <a href="#" class="btn btn-primary" id="seckill_submit" role="button" th:onclick="'seckill('+${seckill.seckilledId}+','+${seckill.seckilledId}+')'">开始</a>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script src="https://cdn.bootcss.com/jquery.countdown/2.2.0/jquery.countdown.js"></script>
    <script type="text/javascript" th:inline="javascript">

        /*<![CDATA[*/
        const ctxPath =[[${#httpServletRequest.getScheme() + '://' + #httpServletRequest.getServerName() + ':' + #request.getServerPort()  + #request.getContextPath() + '/'}]];
        /*]]>*/

        function countDown(startTime,endTime,nowTime){
            console.log(nowTime+","+startTime+","+endTime);
            if(nowTime > endTime){
                $('.getting-started').html("秒杀结束");
            }else if(nowTime < startTime){
                const killTime = new Date(startTime);
                $(".getting-started").countdown(killTime,function(event){
                    var format=event.strftime('秒杀倒计时：%D天 %H时 %M分 %S秒');
                    console.log(format);
                    $('.getting-started').html(format);
                    if(format==="秒杀倒计时：00天 00时 00分 00秒"){
                        $('.getting-started').html("秒杀开始");
                        $('#seckill_submit').show();
                    }
                });
            }else{
                $('.getting-started').html("秒杀开始");
                $('#seckill_submit').show();
            }
        }

        $(function(){

            /*<![CDATA[*/
            let startTime=[[${seckill.startTime.getTime()}]];
            let endTime=[[${seckill.endTime.getTime()}]];
            /*]]>*/
            $("#seckill_submit").hide();
            var nowTime=null;
            $.get(ctxPath+"seckill/now",{},function(obj,status){
                console.log(status);
                nowTime = obj.object;//当前时间
                countDown(startTime,endTime,nowTime);
            });

        });

        function seckill(id,md5){
            const order={"seckillId":id,"md5":md5};
            $.ajax(
                {
                    url:ctxPath+"seckill/execute",
                    type:"post",
                    dataType:"json",
                    data:order,
                    success:function(data){

                        if(data.status==1){
                            window.location.href=ctxPath+"seckill/"+id+"/detail";
                        }else{
                            alert(data.object.status);
                        }

                    },
                    error:function(){
                        window.location.href=ctxPath+"seckill/list";
                    }
                }
            );
        }

    </script>
</body>
</html>