<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <!-- Bootstrap -->
    <link th:href="@{/css/signin.css}" rel="stylesheet">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/me.css}" rel="stylesheet">
    <title>header</title>
</head>
<body>
    <div th:fragment="pagination">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Saiernico</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <form class="navbar-form navbar-right" id="form1">
                        <div class="form-group" id="checkEmail">
                            <input id="inputEmail" type="Email" placeholder="Email" class="form-control" aria-describedby="inputEmailStatus">
                            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                            <span id="inputEmailStatus" class="sr-only">(error)</span>
                        </div>
                        <div class="form-group" id="checkPassword">
                            <input id="inputPassword" type="password" placeholder="Password" class="form-control" aria-describedby="inputPasswordStatus">
                            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                            <span id="inputPasswordStatus" class="sr-only">(error)</span>
                        </div>
                        <button class="btn btn-success" type="button"  th:onclick="form_submit()">Sign in</button>
                    </form>
                    <a class="btn btn-sm btn-warning btn-block hidden" id="logout" style="float: right;color: white;width: 100px;margin-top: 10px;margin-left:20px" th:href="@{'../user/logout'}">Log out</a>
                    <span class="hidden" style="float: right;color: white;font-size: medium;margin-top: 14px" id="username_place"></span>


                </div><!--/.navbar-collapse -->
            </div>
        </nav>
    </div>

</body>
</html>