<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <!-- Bootstrap -->
    <link th:href="@{/css/signin.css}" rel="stylesheet">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/me.css}" rel="stylesheet">
    <title>欢迎登录</title>
</head>

<body>
<div class="headBar" th:include="header_com ::pagination"></div>
<br/><br/><br/>
<div class="container">

    <form class="form-signin  col-md-4 col-center-block" onclick="returnValue=false">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" th:onclick="form_submit1()">Sign in</button>
    </form>

</div> <!-- /container -->

<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    const ctxPath =/*[[${#httpServletRequest.getScheme() + '://' + #httpServletRequest.getServerName() + ':' + #request.getServerPort()  + #request.getContextPath() + '/'}]]*/
        /*]]>*/
    function form_submit1(){
        console.log("url="+ctxPath+"user/login/execution");
        const user = {
            "email": $("#inputEmail").val(),
            "password": $("#inputPassword").val()
        };
        $.ajax(
            {
                url:ctxPath+"user/login/execution",
                type:"post",
                dataType:"json",
                data:user,
                success:function(data){
                    if(data.status==1){
                        window.location.href=ctxPath+"seckill/list";
                    }else{
                        alert(data.mess);
                    }
                },
                error:function(){
                    alert("出了点状况")
                }
            }
        );
    }
</script>
</body>
</html>